<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.2/css/adminlte.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.2/css/alt/adminlte.components.min.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.2/css/alt/adminlte.core.min.css"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.2/css/alt/adminlte.extra-components.min.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.2/css/alt/adminlte.pages.min.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.2/css/alt/adminlte.plugins.min.css"></script>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oauth Activity By Gene Gulanes</title>
</head>
<body>
    
    <% if(user) { %>
    <a href="/auth/logout">Logout</a>    
    <br>
    <% } else { %>
    <a href="/auth/login">Login</a>
    <br>
    <% } %>
    <a href="/">Homepage</a>
    <br>
    <a href="/profile">Profile</a>
    <br>
    <hr>

</body>
</html>